<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cactoos.Net" version="1.0.2" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="fcollections" version="1.0.7" targetFramework="net452" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="SmartValidation" version="1.0.6" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net452" />
</packages>